# Annoying files we don't want to track
.DS_Store

# Things I don't really care about the configuration of for one reason or another
btop/
cabal/
carapace/
environment.d/
fontconfig/
ghc/ghci_history
ghidra/
ghostty/themes/
gtk-*/
helix/runtime/
kitty/
niri/
peazip/
pulse/
raycast/
swiftpm/
systemd/
vale/
wandb/
wireshark/
yarn/
libreoffice/

# Stuff I don't really want tracked
DankMaterialShell/
cosmic/
dconf/
dgop/
direnv/
jj/repos/
jj/workspaces/
karabiner/automatic_backups/
op/

nushell/history.txt
